#about
{
  width: 100%;
  min-width: 100%;
  display: flex;
}
.leftabout
{
  width: 50%;
  height: 100vh;
 display: flex;
 align-items: center;
 justify-content: center; 
}
.circle-line
{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.circle
{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #7ad7ea;
  box-shadow: 2px 2px 20px #7ad7ea;;
}
.line
{
  width: 2px;
  height: 120px;
 background-color: aliceblue; 
}