#contact
{
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
}
.leftcontact img{
  width: 60%;
  filter: drop-shadow(2px 2px 10px rgb(87, 196, 220));
}
.leftcontact
{
  height: 100vh;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rightcontact
{
  height: 100vh;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
form{
  width: 80%;
  height: 80%;
  padding: 20px;
  background-color: rgb(19, 23, 26);
  box-shadow: 2px 2px 10px black,2px 2px 20px black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  border-radius: 20px;
}
form:hover
{
box-shadow: 2px 2px 10px aqua,2px 2px 20px aqua;
}
form input
{
  width: 80%;
  height: 50px;
  border: 2px solid aliceblue;
  border-radius: 20px;
  padding: 20px;
  outline: none;
}
#textarea
{
  width: 80%;
  height: 200px;
  border: 2px solid aliceblue;
  border-radius: 20px;
  padding: 20px;
  outline: none;
}
#btn
{
 width: 80px;
 height: 50px;
 background-color: rgb(105, 208, 215);
 display: flex;
 justify-content: center;
 align-items: center; 
 padding: 0;
 font-size: 20px;
 transform: all 0.3s;
 cursor: pointer;
}
#btn:hover{
  background: transparent;
  color: rgb(105, 208, 215);
}
@media (max-width:750px)
{
  #contact
  {
    flex-direction: column;
  }
  .leftcontact
  {
    width: 100%;
    height: 50vh;
  }
  .rightcontact
  {
    width: 100%;
  }
}